<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heroes Database</title>
  </head>

  <body>
    <h1>Heroes</h1>
    <% if(error) { %>
    <h2><%= error %></h2>
    <% } %>
    <ul>
      <% heroes.forEach(function(hero) { %>
        <%= hero.img %> 
        <img src="<%= hero.src %> " alt="<%= hero.name %> pic" width="100px" height="100px">
      <li><%= hero.name %> - <%= hero.status  %></li>
      <% }) %>
    </ul>
  </body>
</html>