<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Heroes Database</title>
  </head>
  <!-- include('head') -->
  <body>
    <h1 class="db-title">Heroes Database</h1>
    <% if(error) { %>
    <h2><%= error %></h2>
    <% } %>
    <main class="hero-container">
      <div class="hero">
        <div class="hero-img-container">
          <% heroes.forEach(function(hero) { %>
          <img
            src="<%= hero.src %> "
            alt="<%= hero.name %> outfit in Endgame"
          width="300" height="200"/>
        </div>
        <div class="hero-info">
          <p class="hero-alias">Alias: <%= hero.alias %> </p>
          <h3 class="hero-name"> <%= hero.name %> </h3>
          <p class="hero-status"> Status: <%= hero.status %></p>
          <% }) %>
        </div>
      </div>
    </main>
  </body>
</html>
