<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/heroes.css" />
    <title>Heroes Database</title>
  </head>
  <body>
    <h1 class="db-title">HEROES DATABASE</h1>
    <% if(error) { %>
    <h2><%= error %></h2>
    <% } %>
    <main class="hero-container">
      <% heroes.forEach(function(hero) { %>
      <section class="hero">
        <section class="hero-img-container">
          <img
            src="<%= hero.src %> "
            alt="<%= hero.name %> outfit in Endgame"
           width="200" height="200" />  
          </section>
        <section class="hero-info">
          <p class="hero-alias">Alias: <%= hero.alias %> </p>
          <h3 class="hero-name"> <%= hero.name %> </h3>
          <p class="hero-status"> Status: <%= hero.status %></p>
        </section>
      </section>
      <% }) %>
    </main>
  </body>
</html>
