<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Heroes Database</title>
  </head>
  <!-- include('head') -->
  <body>
    <h1>Heroes Database</h1>
    <% if(error) { %>
    <h2><%= error %></h2>
    <% } %>
    <main class="hero-container">
      <% heroes.forEach(function(hero) { %>
      <section class="hero-img-section">
        <%= hero.img %>
        <img
          src="<%= hero.src %> "
          alt="<%= hero.name %> outfit in Endgame"
          width="100px"
          height="100px"
        />
      </section>
      <section class="hero-info">
        <span class="hero-name"><%= hero.name %></span>
        <span class="hero-alias"><%= hero.alias %></span>
        <span class="hero-status"><%= hero.status %></span>
        <% }) %>
      </section>
    </main>
  </body>
</html>
